{% extends "layout.html" %}

{% block body %}
  {% if user is none %}

  <a href="{{ url_for('signin')}}">Sign in</a>
  
  {% else %}

  <a href="{{ url_for('logout') }}">Log out</a>

  {% if user['provider'] == 'local' %}
  <a href="{{ url_for('editUserInfo', user_id = user['id']) }}">Edit User Info</a>
  {% endif %}

  {% endif %}
  <h1>Catalog</h1>
  {% if user is not none and provider != 'local' %}
    <h3>Welcome {{ user['name'].split(' ')[0] }}</h3>
    <a href="{{url_for('createNewCategory')}}">Create New Item</a>
  {% endif %}
  <ul>
    {% for category in categories %}
    <li> <a href="{{ url_for('listCategoryItems', category_id = category.id )}}">{{ category.name }}</a></li>
    {% endfor %}
  </ul>

{% endblock %}
