{% extends "layout.html" %}
{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//apis.google.com/js/platform.js?onload=start"></script>

<!-- JS for FB and Goolge oauth login -->
{% include "oauth.html" %}

{% endblock %}

{% block body %}
  <a href="{{ url_for('showCatalog') }}">Go Back</a>
  <h1>Sign in</h1>
  <form action="{{ url_for('signin')}}" method='POST'>
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input style="display:none" type="text" name="stateToken" value="{{ state }}">
    <input type="submit" name="" value="Log in">
  </form>

  <!-- GOOGLE PLUS SIGN IN-->
    <div id="signinButton">
    <span class="g-signin"
      data-scope="openid email"
      data-clientid="831715535277-54ad50bngcrmkn78melrkgo0i9dp97ei.apps.googleusercontent.com"
      data-redirecturi="postmessage"
      data-accesstype="offline"
      data-cookiepolicy="single_host_origin"
      data-callback="signInCallback"
      data-approvalprompt="force">
    </span>
    </div>
<!--END GOOGLE PLUS SIGN IN -->

<!-- START FACEBOOK SIGN IN -->
<button>
  <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
    <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
  </fb:login-button>
</button>
<a href="{{url_for('signup')}}">Register for new account</a>
<!--END FACEBOOK SIGN IN -->
<div id="result"></div>
{% endblock %}
